/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                      ◢◣ ▁ ◢◣
                              ●●●  ◖(  ^ ܫ ^ )◗  ●●●
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ SASS CSS ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
by Anders Boer Design 2021░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/

/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ TABLE OF CONTENT ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
MOBILE VERSION
  1.0 VARIABLES
    1.1 COLORS
    1.2 TYPOGRAPHY
    1.3 LAYOUT
  2.0 FOUNDATION
  3.0 TYPOGRAPHY
  4.0 LAYOUT
  5.0 SECTION
    5.1 HEADER
    5.2 MAIN
DESKTOP VERSION
  6.0 VARIABLES
    6.1 TYPOGRAPHY
    6.2 LAYOUT
  7.0 LAYOUT
  8.0 SECTION
    8.1 HEADER
    8.2 MAIN
*/

/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 MOBILE VERSION ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 1.0 VARIABLES ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

:root {

/*▓▓ 1.1 COLORS ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

/*══ Background colors ═══════════════════════════════════════════════════════*/
--color-background-primary: #FFFFFF;
--color-background-overlay: #000000;

/*══ Text colors ═════════════════════════════════════════════════════════════*/
--color-typography-primary: #1E2D37;
--color-typography-overlay: #FFFFFF;

/*▓▓ 1.2 TYPOGRAPHY ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

/*══ Font family ══*/
--font-family_Paragraph: "Open Sans", "Segoe UI", "Tahoma", "sans-serif";
--font-family_Heading: "TimesNewRoman","Times New Roman","Times","Baskerville","Georgia,serif";

/*══ Font weight ══*/
--font-weight-H1: 700;
--font-weight-P: 400;

/*══ Font size ══*/
--font-size-H1: 16px;
--font-size-P: 13px;
--font-size-S: 10px;

/*══ Font leading ══*/
--typography-leading-P: 15px;

/*▓▓ 1.3 LAYOUT ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  --layout-container: 1.25rem;
  --layout-grid     : 3.625rem;
  --layout-gutter   : 1rem;

}

/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 2.0 FOUNDATION ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background-color: var(--color-background-primary);
  color: var(--color-typography-primary);
  font-family: var(--font-family_Paragraph);
  font-feature-settings: "liga", "kern";
  font-size: var(--font-size-P);
  font-weight: 400;
  line-height: var(--typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 3.0 TYPOGRAPHY ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

h1 {
  font-family: var(--font-family_Heading);
  color: var(--font-size-H1);
  font-size: var(--font-size-H1);
}

strong { font-weight: 700; }

p,
ul,
li { font-size: var(--font-size-P); }

small {
  font-size: var(--font-size-S); }

  .Publish_note {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    margin: 0px 0px 1px 0px;
    }

  .text1 {
    margin: 21px 21px 21px 28px;
    }

  .article1 {
    position: absolute;
    color: white;
    width: fit-content;
    }

  .article2 {
    color: white;
    width: fit-content;
    }

  /* Button textcolor styling */
  span {
    color: white;
  }


  /*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 4.0 LAYOUT ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
  .layout-container {
    padding-left: var(--layout-container);
    padding-right: var(--layout-container);
  }

  .layout-flex {
    align-items: center;
    justify-content: center;
  }

  .layout-flex {
    display: flex;
  }
  /*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 5.0 SECTION ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  /*▓▓ 5.1 HEADER ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  .section-header {
    padding-top: 28px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);
    height: 57x;
  }

  .section-header__layout { justify-content: space-between; }

  /*══ LOGO ══*/
  .section-header--logo { z-index: 2; }
  .imgLogo { height: 36px; width: auto; }

  /*══ HAMBURGER ══*/
  #section-header--menu-id { display: none; }

  .section-header--menu-icon {
    cursor: pointer;
    display: block;
    height: 1.125rem; width: 1.125rem;
    padding-bottom: .25rem; padding-top: .25rem;
    position: relative; z-index: 2;
  }

  .section-header--menu-icon::before,
  .section-header--menu-icon::after {
    background: var(--color-typography-primary);
    content: "";
    height: .125rem; width: 1.125rem;
    left: 0;
    position: absolute;
    transition: all 250ms cubic-bezier(.785, .135, .15, .86);

  }

  .section-header--menu-icon::before { top: .3125rem; }
  .section-header--menu-icon::after { top: .6875rem; }

  #section-header--menu-id:checked ~
  .section-header--menu-icon::before {
    transform: translateY(3px) rotate(135deg);
  }

  #section-header--menu-id:checked ~
  .section-header--menu-icon::after {
    transform: translateY(-3px) rotate(45deg);
  }

/*══ MENU ════════════════════════════════════════════════════════════════════*/
  .section-header--nav {
    background-color: var(--color-background-primary);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);
    flex-direction: column;
    gap: var(--gap-header);
    top: -1rem; left: 0; right: 0;
    opacity: 0;
    padding: 7.375rem var(--layout-container) 5rem;
    position: absolute;
    transition: all 250ms cubic-bezier(.785, .135, .15, .86);
    visibility: hidden;
  }

  #section-header--menu-id:checked ~
  .section-header--nav {
    opacity: 1;
    top: 0;
    visibility: visible;
    z-index: 1;
  }

  .section-header--nav-link {
    font-size: var(--typography-h3);
    padding: .5rem;
    text-decoration: none;
  }

/*══ SEARCHBOX ═══════════════════════════════════════════════════════════════*/
  .searchBox {
    display: none;
    width: 169px; height: 29px;
    border: 1px solid #3d3d3d; border-radius: 5px 5px 5px 5px;
    background-color: white;
  }

  .search-query { border: 0px; background-color: transparent; }
  .searchIcon { width: 12.49px; height: 12.49px; }

/*▓▓ 5.2 MAIN ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
@media (max-width: 376px) {

h1 { font-size: 14px; line-height: auto;}
p,
ul,
li, {font-size: 11px; line-height: 15px;}


/*══ Styling flexbox ═════════════════════════════════════════════════════════*/
    .flex-container {
      display: flex; flex-direction: column; flex-wrap: wrap; flex: 1;
      margin-top: 17px; margin-left: auto;
      margin-right: auto; max-width: 376px;
      }

    .column1 {
      display: block;
      width: 61%; height: 190px;
      max-height: 190px;
      margin-right: 17px;
      margin-bottom: 6px;
      }

/*══ Styling article1 1 ══════════════════════════════════════════════════════*/
    .container {
      position: absolute; left: 0; right: 0;
      bottom: 4px; top: 100px; background: rgba(0, 0, 0, 0.7); }
    .img1 { width: 346px; height: 190px; overflow: hidden; }
    .text1 { margin: 20px 0px 0px 27px; width: 67%;}
    .bodytext { display: none;}

/*══ Styling Read more button 1 ══════════════════════════════════════════════*/
      .readmore { position: absolute; right: 15px; bottom: 5px; }
      .readmore button {
        border: none; font-size: 9px; cursor: pointer;
        background-image: url(./img/Arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: transparent;
        text-align: left; width: 60px; height: 16px;
        background-position: 0px 10px;}
      .readmore span { margin-left: -5px; } /*Text*/


/*══ Styling Column 2 ════════════════════════════════════════════════════════*/
    .column2 {
      display: block; flex-direction: column;
      flex-basis: 100%; flex: 1;
      width: 346px; height: 150px; }

/*══ Styling article1 2 ══════════════════════════════════════════════════════*/
  .column2-1 { width: 100%; height: 150px; }
    .article2 { width: 100%; height: 150px; }
    .img2 { width: 100%; height: 150px; }
    .container2 { position: relative;
              left: 0; right: 0; bottom: 0px; top: -72px;
              background: rgba(0, 0, 0, 0.7); }
    .text2 { padding: 4px 10px 15px 16px; }
    h1 { margin: 0px 0px 5px 0px;}
    .bodytext2 { display: none; }

/*Publish_note_2*/
    .Publish_note_2 { margin-bottom: -1px; font-size: 10px; line-height: 14px; }


/*══ Styling Read more button 2 ══════════════════════════════════════════════*/
      .readmore2 { position: absolute; right: 8px; bottom: 0px; }
      .readmore2 button {
        border: none; font-size: 9px; cursor: pointer;
        background-image: url(./img/Arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: transparent;
        text-align: left; width: 60px; height: 16px;
        background-position: 0px 10px; }
      .readmore2 span { margin-left: -5px;}


    .column2-2 { height: 274px; margin-top: 4px; }

  /*══ Styling article1 3 ══════════════════════════════════════════════════════*/
    .column2-2-1 { height: 126px; width: 100%; margin-bottom: 6px; }

    .article3 { width: 100%; height: 100%; display: flex; }

    .img3 { width: 44%; height: 100%; }

    .section3 { margin-left: 5px; }
              width: 100%; height: 100%;
              line-height: 15px; display: flex;

  /*══ Styling article1 4 ══════════════════════════════════════════════════════*/

    .column2-2-2 { height: 139px; width: 100%; }
    .article4 { width: 100%; height: 139px; display: flex;}
    .img4 { width: 44%; height: 139px; }
    .section4 { margin-left: 5px; }

  /*══ Styling FOOTER ══════════════════════════════════════════════*/
    footer { width: 100%; }
    hr {
      position: relative;
      width: 100%; height: 1px;
      background-color: #1E2D37;
    }

    .img5 { width: 100%; height: auto; }

  } /*<end of Mobile version>*/



  /*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   DESKTOP VERSION ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 6.0 VARIABLES ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
  @media screen and (min-width: 376px) {

    :root {

  /*▓▓ 6.1 TYPOGRAPHY ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  /*══ FONT SIZE ═══════════════════════════════════════════════════════════════*/
      --typography-h1: 16px;
      --typography-p : 13px;
      --typography-s : 10px;

  /*══ MARGIN ══════════════════════════════════════════════════════════════════*/
      --typography-margin-body: 1.25rem;

  /*▓▓ 6.2 LAYOUT ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  /*══ LAYOUT ══════════════════════════════════════════════════════════════════*/
      --layout-container: 4.25rem;
      --layout-gutter   : 1.5rem;

  /*══ GAP ═════════════════════════════════════════════════════════════════════*/
      --gap-header: 1.5rem;

    } /*<End of root>*/

  /*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 7.0 LAYOUT ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
    .layout-container,
    .layout-column-center {
      margin-left: auto;
      margin-right: auto;
    }

  /*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 8.0 SECTION ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

  /*▓▓ 8.1 HEADER ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

    .section-header { padding-bottom: 20px; padding-top: 2rem; }

  /*══ ICON ════════════════════════════════════════════════════════════════════*/
    .section-header--menu-icon { display: none; }

  /*══ NAV ═════════════════════════════════════════════════════════════════════*/
    .section-header--nav {
      background-color: transparent;
      box-shadow: none;
      flex-direction: row;
      opacity: 1;
      padding: 0;
      position: static;
      visibility: visible;
    }

    .section-header--nav-link { font-size: var(--typography-p); padding: 0; }

  /*══ SEARCHBOX ═══════════════════════════════════════════════════════════════*/
    .searchBox {
      display: block;
      width: 169px; height: 29px;
      border: 1px solid #3d3d3d; border-radius: 5px 5px 5px 5px;
      background-color: white;
    }
    .search-query { border: 0px; background-color: transparent; margin-top: -20px;}
    .searchIcon { width: 12.49px; height: 12.49px; }
    /*▓▓ 8.2 MAIN ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/


/*══ Styling flexbox ═════════════════════════════════════════════════════════*/
  .flex-container {
    display: flex; flex-direction: row; flex-wrap: wrap; flex: 1;
    margin-top: 17px; margin-left: auto;
    margin-right: auto; max-width: 1078px;
    }

  .column1 {
    width: 61%; height: 559px;
    margin-right: 17px; }

/*══ Styling article1 1 ══════════════════════════════════════════════════════*/
  .container {
    position: absolute; left: 0; right: 0;
    bottom: 4px; background: rgba(0, 0, 0, 0.7); }
  .img1 { width: 100%; height: 100%; }
  .text1 { margin: 20px 0px 0px 27px; width: 67%;}



/*══ Styling Column 2 ════════════════════════════════════════════════════════*/
  .column2 {
    display: flex; flex-direction: column;
    flex-basis: 100%; flex: 1;
    width: 37%; height: 559px; }

/*══ Styling article1 2 ══════════════════════════════════════════════════════*/
.column2-1 { width: 100%; height: 276px; }
  .article2 { width: 100%; height: 100%; }
  .img2 { width: 100%; height: 100%; }
  .container2 { position: relative;
            left: 0; right: 0; bottom: 4px; top: -130px;
            background: rgba(0, 0, 0, 0.7); }

  .text2 { padding: 11px 10px 15px 16px; }
  h1 { margin: 0px 0px 5px 0px;}
  p { font-size: 12px; font-weight: 400;
    line-height: 15px; letter-spacing: 0em;}

/*Publish_note_2*/
  .Publish_note_2 { margin-bottom: -1px; font-size: 10px; line-height: 14px; }

  .column2-2 { height: 274px; margin-top: 9px; }

/*══ Styling article1 3 ══════════════════════════════════════════════════════*/
  .column2-2-1 { height: 126px; width: 100%; margin-bottom: 9px; }

  .article3 { width: 100%; height: 100%; display: flex; }

  .img3 { width: 44%; height: 100%; }

  .section3 { margin-left: 10px; }
            width: 100%; height: 100%;
            line-height: 15px; display: flex;

/*══ Styling article1 4 ══════════════════════════════════════════════════════*/

  .column2-2-2 { height: 139px; width: 100%; }

  .article4 { width: 100%; height: 100%; display: flex;}

  .img4 { width: 44%; height: 100%; }

  .section4 { margin-left: 10px; }

/*══ Styling Read more button 1 ══════════════════════════════════════════════*/
  .readmore { position: absolute; right: 15px; bottom: 10px; }
  .readmore button {
    border: none; font-size: 10px; cursor: pointer;
    background-image: url(./img/Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    text-align: left; width: 78px; height: 23px;
    background-position: 0px 12px;}
  .readmore span { margin-left: -5px; } /*Text*/

/*══ Styling Read more button 2 ══════════════════════════════════════════════*/
  .readmore2 { position: absolute; right: 8px; bottom: 5px; }
  .readmore2 button {
    border: none; font-size: 10px; cursor: pointer;
    background-image: url(./img/Arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    text-align: left; width: 78px; height: 23px;
    background-position: 0px 12px; }
  .readmore2 span { margin-left: -5px;}

/*══ Styling FOOTER ══════════════════════════════════════════════*/
  footer { width: 100%; }
  hr {
    position: relative;
    width: 100%; height: 1px;
    background-color: #1E2D37;
  }

  .img5 { width: 100%; height: auto; }

} /*<end of Desktop version>*/
